body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.faq-section {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
}

.faq-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color:#4B4B4B;
}

.faq {
  background: white;
  padding: 20px 25px;
  margin-bottom: 20px;
  border-left: 5px solid #000000;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.faq h3 {
  margin-top: 0;
  font-weight: 600;
  color: #4B4B4B;
}

.faq p {
  margin: 10px 0 0;
  line-height: 1.6;
}

.faq a {
  color: #007bff;
  text-decoration: none;
}

.faq a:hover {
  text-decoration: underline;
}
